body {
    margin: 0;
    padding: 0;

}

#contain {
    margin: 0px 0px;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    cursor: default; 

}

/*******************
gallery
*********************/
@import url('https://fonts.googleapis.com/css?family=Montserrat');


.title {
	font-family: "Montserrat";

	color: #FFF;
    justify-content: center;
    display: flex;
    align-items: center; 
	max-height: 200px;
    letter-spacing: 1px;
    margin-bottom: 50px;
} 


.title h1 {
	background-image: url(https://media.giphy.com/media/SxZrIkPMQ47kI/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}
/* styling my button */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}



.card {
    position: relative;
    background: #fff;
    width: 450px;
    height: 350px;
    margin: 0px auto;
    cursor: default;
    /* border: 3px solid white; */
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(250, 244, 244, 0.8), 0 6px 20px 0 rgba(248, 245, 245, 0.8);
}

.card img {
    
    width: 450px;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
}

.swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.swiper-slide {
    width: 500px;
    cursor: default;
}

.swiper-button-next {
    background-color: #000;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-decoration: none;
    
}

.swiper-button-prev {
    background-color: #000;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-decoration: none;
    
}
/*******************/
*{
    margin:0;
    padding:0;
    /* font-family:sans-serif; */
}


.body-content{
    width: 100%;
    padding:20px;
    text-align: justify;
    box-sizing: border-box;
    font-size:18px;
    line-height:40px;

}

.footer{
 width:100%;
 background: #00121b;
display:block;

}

.inner-footer{
    width:100%;
    height: 400px;
    margin:auto auto;
    padding:30px 10px;
    display:inline-flex;
    box-sizing:border-box;
    justify-content:center;

}


.footer-items{
    width:33.3%;
    height: 100%;
    padding:10px 20px;
    box-sizing:border-box;
 
}

h1{
    padding:10px 0;
    font-size:25px;
    color:#fff;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;

}
.logo{
    font-family: 'Caveat', cursive;
}


.footer-items p{
    color:#a5e6d7;
    font-size:16px;
    font-family: 'Dancing Script', cursive;
    text-align:justify;
    line-height: 25px;
}

h2{
    margin:10px 0;
    color:grey;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;

}



.border{
    height:2px;
    width:40px;
    background:#ff9800;


}


ul{
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;

}


ul a{
    text-decoration: none;
    outline: none;
    color:#fff;
    transition: 0.3s;

}

ul a li{
    margin: 10px auto;

}

ul a:hover{
    color:#ff9800;
}


ul li{
    margin:30px 0;
    height:25px;

}

li i{
    margin-right:20px;

}

.footer-bottom{
    padding:10px;
    background:#3d545f;
    color:#fff;
    font-size: 12px;

}






@media only screen and (max-width: 800px) {
    /* For mobile phones: */

    [class*="inner-footer"] {
        display: block;
        height: 1200px;
        width: 100%;
      }
      [class*="footer-items"] {
          display: block;
          height: 400px;
          width: 100%;
  
        }

        [class*="title"] h1{
            font-size: 50px;
          }
    [class*="card"]{
       
        width: 270px;
        height: 170px;
    }

    [class*="card"] img{
       
        width: 270px;
        height: 170px;
    }
    [class*="swiper-button-prev"]{
        display: none;
    }
    [class*="swiper-button-next"]{
        display: none;
    }
    .swiper-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0px;
    }
    
    .swiper-slide {
        width: 300px;
        cursor: default;
    }

    #contain {
        width: 100%;
        height: 60%;
        justify-content: center;
        align-items: center;
    }
  }