body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    cursor: default; 
}

/*******************
gallery
*********************/
@import url('https://fonts.googleapis.com/css?family=Montserrat');


.title {
	font-family: "Montserrat";

	color: #FFF;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    align-items: center; 
	max-height: 200px;
    letter-spacing: 1px;
    margin-bottom: 50px;
} 


h1 {
	background-image: url(https://media.giphy.com/media/SxZrIkPMQ47kI/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}
/* styling my button */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}



.card {
    position: relative;
    background: #fff;
    width: 450px;
    height: 350px;
    margin: 0px auto;
    cursor: default;
    /* border: 3px solid white; */
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(250, 244, 244, 0.8), 0 6px 20px 0 rgba(248, 245, 245, 0.8);
}

.card img {
    
    width: 450px;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
}

.swiper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.swiper-slide {
    width: 500px;
    cursor: default;
}

.swiper-button-next {
    background-color: #000;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-decoration: none;
    
}

.swiper-button-prev {
    background-color: #000;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-decoration: none;
    
}

/***********************
footer
***********************/
.footer {
    background-color: #000000;
    color: #fff;
    height: 400px;
    width: 100%;
    display: inline-flex;
    margin-top: 50px;
   
}

.details {
    height: 100%;
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 50px;
    letter-spacing: 2px;
}

.fa-user {
    height: 40px;
    width: 40px;
    color: #ff7315;
}

.fa-phone {
    height: 40px;
    width: 40px;
    color: #ffbd69;
}

.nav {
    margin-top: 50px;
    height: 100%;
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    color: #ffbd69;
}

.info {
    height: 100%;
    width: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 20px;
    letter-spacing: 2px;
    margin-right: 40px;
}

.info  h2 {
    color: #fe6845;
    font-size: 40px;
}

.info .first {
    color: #91bd3a;
    font-size: 20px;
    font-weight: bold;
}

.info div {
    color: #ffa259;
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */

    body {
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 1900px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .swiper-container {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto auto;
    }
    [class*="footer"] {
      display: block;
      height: 1200px;
      width: 100%;
    }
    [class*="details"] {
        display: block;
        height: 320px;
        width: 100%;
        margin: 20px auto;
      }
      [class*="nav"] {
        display: block;
        height: 320px;
        width: 100%;
        margin: 40px auto;
       
      }
      [class*="info"] {
        display: block;
        height: 320px;
        width: 100%;
        margin: 20px auto;
      }

      .swiper-button-prev {
          display: none;
      }
      .swiper-button-next {
        display: none;
    }

    h1 {
        font-size: 60px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
  }