@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700&display=swap');
body{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 100%;
}

body {
    background: url("E:/razzmatazzz/images/grad.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    color: #fff;
    padding-top: 5%;
    text-align: center;
    font-size: 2rem;
    font-family: 'Tomorrow', sans-serif;
    
  }
.bigcontainer {
    position: relative;
    width:100%;
    height:100%;
    display:inline-flex;
    
    flex-flow: row wrap;

}

.navbar {

    height: 700px;
    width: 20%;
    display: flex;
  flex-direction: column;
}

.profile{
    position: absolute;
    width:80%;
    right: 0;
    height:100%;
    display: block;
    /* justify-content: center;
    align-items: center; */
}



img{
    width:300px;
    height:400px;
    object-fit: cover;
}

.container{
    position: relative;
    width:100%;
    height:650px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin:auto auto;
    align-items: center;

}

.eight {
    position: relative;
    width:100%;
    height:1550px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin:auto auto;
    align-items: center;   
}

.four {
    position: relative;
    width:100%;
    height:1050px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin:auto auto;
    align-items: center;   
}


.card{
    position: relative;
    top:0;
    left:0;
    margin:auto auto;
    width:300px;
    height:400px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition:0.5s;
    overflow:hidden;
    
}



.card .front{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    backface-visibility: hidden;
    transform:rotateX(0deg);
    transition:0.5s;
    
}

.card:hover .front{

    transform: rotateX(-180deg);


}

.card .back{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    backface-visibility: hidden;
    transform:rotateX(180deg);
    transition:0.5s;
   
}

.card .back:before{
    content:'';
    position: absolute;
    top:0;
    left:-50%;
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.1);
}

.card:hover .back{

    transform: rotateX(0deg);
}

.card .back .details{
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    width:100%;
    
    text-align:center;
    padding:20px;
    box-sizing:border-box;

}

.card .back .details h2{
    margin:0;
    padding:0;
    font-size:24px;
    color:#fff;

}

.card .back .details h2 span{
    color:#a7a7a7;
    font-size:16px;

}



.social-icons{
    padding:10px 0;

}



.social-icons a{
    display:inline-block;
    width:36px;
    height:36px;
    text-align:center;
    background:#262626;
    color:#fff;
    text-decoration:none;
    border-radius:50%;
    transition:0.5s;

}

.social-icons a .fa{
    line-height:36px;

}

.social-icons a:hover {
    background:#e91e63;
}




    
.title{
    align-content:center;
    text-align: center;
    font-size:4em;
    margin-top:5%;
}

/* @media screen 
  and (max-device-width: 450px) 
  and (max-device-height: 850px) 
  and (-webkit-device-pixel-ratio: 3) {

    .container{
        height:120vh;
        display:block;

    }
    

} */

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
   /* [class*="container"] {
      width: 100%;
      display: block;
      height: 1500px;

    }*/
    #two{
      width: 100%;
      display: block;
      height: 103vh;
    }

    #one{
        width:100%;
        height:75vh;

    }

  .profile{
        width: 100%;
        justify-content: center;
      }

    [class*="navbar"] {
        display: none;
      }
      

  }




/******
navbar
******/



.buttons {
    margin: 0px;
    text-align: center;
}



.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 35px;
  margin: 5px 0;
  max-width: 250px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
}
  
.btn:hover { text-decoration: none; }



.btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  } 
  
  .btn-5:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }








@media screen and (max-width: 100vw) and (min-width: 500px) {
    .sticky {
  position: fixed;
  left: 8;
  width: 15%;
  height: 100%;
}
}

/*******************/
 *{
    margin:0;
    padding:0;
    /* font-family:sans-serif; */
}

/* 
.body-content{
    width: 100%;
    padding:20px;
    text-align: justify;
    box-sizing: border-box;
    font-size:18px;
    line-height:40px;

}

.footer{
 width:100%;
 background: #00121b;
display:block;

}

.inner-footer{
    width:100%;
    height: 400px;
    margin:auto auto;
    padding:30px 10px;
    display:inline-flex;
    box-sizing:border-box;
    justify-content:center;

}


.footer-items{
    width:33.3%;
    height: 100%;
    padding:10px 20px;
    box-sizing:border-box;
 
}

h1{
    padding:10px 0;
    font-size:25px;
    color:#fff;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;

}
.logo{
    font-family: 'Caveat', cursive;
}


.footer-items p{
    color:#a5e6d7;
    font-size:16px;
    font-family: 'Dancing Script', cursive;
    text-align:justify;
    line-height: 25px;
}

h2{
    margin:10px 0;
    color:grey;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;

}



.border{
    height:2px;
    width:40px;
    background:#ff9800;


}


ul{
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;

}


ul a{
    text-decoration: none;
    outline: none;
    color:#fff;
    transition: 0.3s;

}

ul a:hover{
    color:#ff9800;
}


ul li{
    margin:30px 0;
    height:25px;

}

li i{
    margin-right:20px;

}

.footer-bottom{
    padding:10px;
    background:#3d545f;
    color:#fff;
    font-size: 12px;

} 
 */



@media only screen and (max-width: 800px) {

    [class*="inner-footer"] {
      display: block;
      height: 900px;
      width: 100%;
    }
    [class*="footer-items"] {
        display: block;
        height: 320px;
        width: 100%;

      }

  
  }